:root{
  --primary: rgb(245,116,168);
  --bg-color: #808080;
  --bg-envelope-color: rgb(255,255,255);
  --envelope-tab: #2eb759;
  --envelope-cover: #2eb774;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --txt-color: rgb(255,255,255);
  --heart-color: rgb(255, 0, 0);
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  height: 100vh;
  display: grid;
  place-items: center;
}
.container > .en-wrapper {
  background: var(--bg-envelope-color);
  box-shadow: 0 0 40px var(--shadow-color);
}
.en-wrapper > .envelope {
  position: relative;
  width: 300px;
  height: 230px;
}
.en-wrapper > .envelope::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: 2;
  border-top: 130px solid var(--envelope-tab);
  border-right: 150px solid transparent;
  border-left: 150px solid transparent;
  transform-origin: top;
  transition: all 0.5s ease-in-out 0.7s;
}
.en-wrapper > .envelope::after {
  content: "";
  position: absolute;
  z-index: 2;
  width: 0px;
  height: 0px;
  border-top: 130px solid transparent;
  border-right: 150px solid var(--envelope-cover);
  border-bottom: 100px solid var(--envelope-cover);
  border-left: 150px solid var(--envelope-cover);
}
.envelope > .letter {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 90%;
  height: 78%;
  background: var(--primary);
  text-align: center;
  transition: all 1s ease-in-out;
  box-shadow: 0 0 5px var(--shadow-color);
  padding: 25px 15px;
  border-radius: 5px;
}
.envelope > .letter > .text {
  font-family: "Allura";
  color: var(--txt-color);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-top: -10px;
}
.envelope > .letter > .text p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 10px;
}

.heart {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  background: var(--heart-color);
  z-index: 4;
  transform: translate(-50%, -20%) rotate(45deg);
  transition: transform 0.5s ease-in-out 1s;
  box-shadow: 0 4px 9px var(--shadow-color);
  cursor: pointer;
}
.heart:before, .heart:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: var(--heart-color);
  border-radius: 50%;
}
.heart:before {
  top: -7.5px;
}
.heart:after {
  right: 7.5px;
}

/* Flap Animation */
.flap > .envelope:before {
  transform: rotateX(180deg);
  z-index: 0;
}

/* --- Updated Animation Section --- */
.flap > .envelope > .letter {
  bottom: 200px; /* Letter fully comes out */
  transform: translateX(-50%) scale(1.35); /* Zoom slightly */
  transition-delay: 0.8s;
}

/* Heart rotates away */
.flap > .heart {
  transform: translate(-50%, -20%) rotate(100deg);
  transition-delay: 0.4s;
}
